{% extends 'base.html' %} {% load static %}

<!-- title -->
{% block title %} Cart {% endblock %}

<!-- content starts here -->
{% block content %}

<div class="mx-auto p-4 container border shadow-md">
	<button
		class="border-2 border-slate-700 text-black px-2 py-2 rounded-md hover:bg-slate-700 hover:text-white"
	>
		<a href="/">&#x2190; Continue Shopping</a>
	</button>

	<br /><br />
	<hr />
	<div
		class="w-full bg-white flex justify-between items-center rounded-md pt-4 mb-2"
	>
		<div class="pl-4 text-lg">
			Items: <strong>{{order.get_cart_items}}</strong>
		</div>
		<div class="text-lg">
			Cart Total: &#8377;<strong>{{order.get_cart_total|floatformat:2}}</strong>
		</div>
		<div>
			<button
				class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-md"
			>
				<a href="/checkout">Proceed to Checkout</a>
			</button>
		</div>
	</div>
</div>
<div class="mx-auto p-4 mt-4 container border shadow-lg">
	<!-- Cart Items -->
	<div class="bg-white shadow-sm rounded-lg overflow-hidden">
		<!-- Single Cart Item (Repeat this section for each item in the cart) -->
		{% for item in items %}
		<div class="flex justify-between items-center p-4 border-b border-gray-200">
			<!-- Product Image -->
			<div>
				<img
					src="{{ item.product.imageURL }}"
					alt="Product Image"
					class="w-20 h-20 rounded-md mb-4 md:mb-0 md:mr-4"
				/>
			</div>

			<!-- Product Name (Displayed above on md and higher screens) -->
			<div>
				<h2 class="text-lg font-medium">{{ item.product.name }}</h2>
			</div>

			<div>
				<span class="text-gray-600 md:mr-2">Price:</span>
				<span class="text-gray-600 font-medium"
					>&#8377;{{ item.product.price|floatformat:2 }}</span
				>
			</div>

			<!-- Quantity -->
			<div class="flex items-center">
				<button
					class="px-2 py-1 rounded-l-md border border-gray-300 hover:border-gray-400"
				>
					-
				</button>
				<span class="px-2 text-center border-y border-gray-300"
					>{{ item.quantity }}</span
				>
				<button
					class="px-2 py-1 rounded-r-md border border-gray-300 hover:border-gray-400"
				>
					+
				</button>
			</div>

			<!-- Price -->
			<div>
				<span class="text-gray-600 md:mr-2">Total:</span>
				<span class="text-gray-600 font-semibold"
					>&#8377;{{ item.get_total }}</span
				>
			</div>
		</div>
		{% endfor %}

		<!-- End Single Cart Item -->
	</div>
</div>
{% endblock content %} ds
