{% extends 'base.html' %} {% load static %}

<!-- title -->
{% block title %} {{ category }} {% endblock %}

<!-- content starts here -->
{% block content %}
<div class="container mx-auto">
	<h1 class="text-4xl font-semibold text-gray-800 mb-6 pt-[100px] pl-6">
		{{ category }}
	</h1>

	<!--product card -->
	<section
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
	>
		<!-- Your product cards go here -->
		{% for product in products %}
		<div
			class="mx-auto sm:m-3 flex items-center justify-center flex-col overflow-hidden"
		>
			<!-- Card content -->
			<div
				class="relative m-3 flex w-full max-w-xs flex-col overflow-hidden rounded-md border border-gray-100 bg-gray-200 shadow-md"
			>
				<div
					class="relative mx-3 mt-3 flex h-60 rounded-xl aspect-w-1 aspect-h-1 overflow-hidden-x"
				>
					<img
						class="object-cover rounded-lg"
						src="{{ product.imageURL }}"
						alt="product image"
					/>
					<span
						class="absolute top-0 left-0 m-2 rounded-full bg-black px-2 text-center text-sm font-medium text-white"
						>39% OFF</span
					>
					<!-- add-to-wishlist button -->
					<span
						class="absolute top-0 right-1 m- rounded-full text-center text-sm font-medium text-white"
					>
						<a class="update-wishlist" data-product="{{product.id}}">
							<i
								class="fa-regular fa-heart text-2xl p-1 text-red-500 hover:text-pink-600 transition duration-150"
							></i>
						</a>
					</span>
				</div>
				<div class="mt-4 px-5 pb-5">
					<a href="#">
						<h5 class="text-[18px] tracking-tight text-slate-900">
							{{ product.name }}
						</h5>
					</a>
					<div class="mt-2 mb-5 flex items-center justify-between">
						<div>
							<span class="text-2xl font-bold text-slate-900"
								>&#8377;{{ product.price|floatformat:0 }}</span
							>
							<span class="text-sm text-slate-900 line-through">$699</span>
						</div>
						<div class="flex items-center">
							<svg
								aria-hidden="true"
								class="h-5 w-5 text-yellow-300"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								class="h-5 w-5 text-yellow-300"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								class="h-5 w-5 text-yellow-300"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								class="h-5 w-5 text-yellow-300"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								class="h-5 w-5 text-yellow-300"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<span
								class="mr-2 ml-2 rounded bg-yellow-200 px-1.5 py-0.5 text-xs font-semibold"
								>5.0</span
							>
						</div>
					</div>
					<!-- add-to-cart button -->
					<div>
						<a
							data-product="{{product.id}}"
							data-action="add"
							class="update-cart flex items-center justify-center rounded-md bg-slate-800 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-slate-900"
							>Add to cart</a
						>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}

		<!-- Repeat the product card div for each product -->
	</section>
</div>
{% endblock %}
