{% extends 'base.html' %} {% load static %}

<!-- title -->
{% block title %} Checkout {% endblock %}
<!-- content starts here -->
{% block content %}

<div class="mx-auto my-4 pt-20 max-w-7xl md:my-6">
	<div class="overflow-hidden rounded-xl shadow">
		<div class="grid grid-cols-1 md:grid-cols-2">
			<div class="bg-gray-100 px-5 py-6 md:px-8">
				<div class="flow-root">
					<ul class="-my-7 divide-y divide-gray-200">
						<!-- cart contents starts here -->
						{% for item in items %}
						<li class="flex items-stretch justify-between space-x-24 py-7">
							<div class="flex flex-1 items-stretch">
								<div class="flex-shrink-0">
									<img
										class="h-20 w-20 rounded-lg border border-gray-200 bg-white object-contain"
										src="{{ item.product.imageURL }}"
										alt=""
									/>
								</div>
								<div class="ml-5 flex flex-col justify-between">
									<div class="flex-1">
										<p class="text-sm font-bold">{{ item.product.name }}</p>
										<p class="mt-1.5 text-sm font-medium text-gray-500">
											Orange
										</p>
									</div>
									<p class="mt-4 text-xs font-medium">x {{ item.quantity }}</p>
								</div>
							</div>
							<div class="ml-auto flex flex-col items-end justify-between">
								<p class="text-right text-sm font-bold text-gray-900">
									&#8377;{{ item.product.price|floatformat:2 }}
								</p>
								<button
									type="button"
									class="-m-2 inline-flex rounded p-2 text-gray-400 transition-all duration-200 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-900 focus:ring-offset-2"
								>
									<span class="sr-only">Remove</span>
									<svg
										xmlns="http://www.w3.org/2000/svg"
										width="24"
										height="24"
										viewBox="0 0 24 24"
										fill="none"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
										class="h-5 w-5"
									>
										<line x1="18" y1="6" x2="6" y2="18"></line>
										<line x1="6" y1="6" x2="18" y2="18"></line>
									</svg>
								</button>
							</div>
						</li>
						{% endfor %}
					</ul>
				</div>
				<hr class="mt-6 border-gray-200" />
				<form action="#" class="mt-6">
					<div
						class="sm:flex sm:space-x-2.5 md:flex-col md:space-x-0 lg:flex-row lg:space-x-2.5"
					>
						<div class="flex-grow">
							<input
								class="flex w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
								type="text"
								placeholder="Enter coupon code"
							/>
						</div>
						<div class="mt-4 sm:mt-0 md:mt-4 lg:mt-0">
							<button
								type="button"
								class="rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
							>
								Apply Coupon
							</button>
						</div>
					</div>
				</form>
				<ul class="mt-6 space-y-3">
					<li class="flex items-center justify-between text-gray-600">
						<p class="text-sm font-medium">Sub total</p>
						<p class="text-sm font-medium">₹1,14,399</p>
					</li>
					<li class="flex items-center justify-between text-gray-900">
						<p class="text-sm font-medium">Total</p>
						<p class="text-sm font-bold">₹1,14,399</p>
					</li>
				</ul>
			</div>
			<div class="px-5 py-6 text-gray-900 md:px-8">
				<div class="flow-root">
					<div class="-my-6 divide-y divide-gray-200">
						<div class="py-6">
							<h2 class="text-base font-bold">Contact Information</h2>
							<form action="#" class="mt-6">
								<div class="space-y-5">
									<div class="grid w-full max-w-md items-center gap-1.5">
										<label
											class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
											for="name"
										>
											Full Name
										</label>
										<input
											class="flex w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
											type="text"
											id="name"
											placeholder="Full Name"
										/>
									</div>
									<div class="grid w-full max-w-md items-center gap-1.5">
										<label
											class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
											for="email"
										>
											Email
										</label>
										<input
											class="flex w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
											type="email"
											id="email"
											placeholder="Email"
										/>
									</div>
									<div>
										<button
											type="button"
											class="w-full rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
										>
											Get Started
										</button>
									</div>
								</div>
							</form>
						</div>
						<div class="py-6">
							<h2 class="text-base font-bold text-gray-500">
								Shipping Information
							</h2>
						</div>
						<div class="py-6">
							<h2 class="text-base font-bold text-gray-500">
								Billing Information
							</h2>
						</div>
						<div class="py-6">
							<h2 class="text-base font-bold text-gray-500">Payment Method</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var shipping = "{{ order.shipping }}";

	var total = "{{ order.get_cart_total}}";

	if (shipping == "False") {
		document.getElementById("shipping-info").innerHTML = "";
	}

	if (user != "AnonymousUser") {
		document.getElementById("user-info").innerHTML = "";
	}

	if (shipping == "False" && user != "AnonymousUser") {
		document.getElementById("form-wrapper").classList.add("hidden");
		document.getElementById("payment-info").classList.remove("hidden");
	}

	var form = document.getElementById("form");

	csrftoken = form.getElementsByTagName("input")[0].value;
	//console.log('Newtoken:', form.getElementsByTagName('input')[0].value)

	form.addEventListener("submit", function (e) {
		e.preventDefault();
		console.log("Form Submitted");
		document.getElementById("form-button").classList.add("hidden");
		document.getElementById("payment-info").classList.remove("hidden");
	});

	document
		.getElementById("make-payment")
		.addEventListener("click", function (e) {
			submitFormData();
		});

	function submitFormData() {
		console.log("Payment button clicked");

		var userFormData = {
			fname: null,
			lname: null,
			email: null,
			total: total,
		};

		var shippingInfo = {
			address: form.address.value,
			city: form.city.value,
			state: form.state.value,
			pincode: form.pincode.value,
			contact: form.contact.value,
		};

		if (user == "AnonymousUser") {
			userFormData.fname = form.fname.value;
			userFormData.lname = form.lname.value;
			userFormData.email = form.email.value;
		}

		if (shipping != "False") {
			userFormData.address = form.address.value;
			userFormData.city = form.city.value;
			userFormData.state = form.state.value;
			userFormData.pincode = form.pincode.value;
			userFormData.contact = form.contact.value;
		}

		console.log("Shipping Info:", shippingInfo);
		console.log("User Info:", userFormData);

		var url = "/process-order/";
		fetch(url, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
				"X-CSRFToken": csrftoken,
			},
			body: JSON.stringify({ form: userFormData, shipping: shippingInfo }),
		})
			.then((response) => response.json())
			.then((data) => {
				console.log("Success:", data);
				alert("Transaction completed");

				cart = {};
				document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
				window.location.href = "{% url 'store' %}";
			});
	}
</script>
{% endblock %}
