{% extends 'base.html' %} {% load static %}

<!-- title -->
{% block title %} Checkout {% endblock %}
<!-- content starts here -->
{% block content %}
<div class="max-w-screen-xl mx-auto p-4 pt-24">
	<div class="md:flex">
		<!-- Div2 (Button to go back to cart, Cart Summary, Contents, Cart Total) -->
		<div
			class="flex-col-reverse md:w-1/2 md:order-1 p-4 bg-gray-100 rounded-md shadow-md m-2"
		>
			<!-- Button to go back to cart -->
			<button
				class="border-2 border-slate-700 text-black px-2 py-2 rounded-lg hover:bg-slate-700 hover:text-white w-full"
			>
				<a href="/cart">&#x2190; Back to Cart</a>
			</button>

			<!-- Text: Cart Summary -->
			<p class="text-lg font-semibold pt-4 mb-4">Cart Summary</p>
			<hr />

			<!-- Contents of the Cart -->
			<!-- Place your cart contents here -->
			{% for item in items %}
			<div
				class="flex justify-between items-center p-4 border-b border-gray-200"
			>
				<div class="flex flex-col md:flex-row md:items-center">
					<!-- Product Image -->
					<div>
						<img
							src="{{ item.product.imageURL }}"
							alt="Product Image"
							class="rounded-md mb-4 md:mb-0 md:mr-4 border border-black"
						/>
					</div>

					<!-- Product Name (Displayed above on md and higher screens) -->
					<div>
						<h2 class="text-base font-medium ml-4 md:pt-0 md:pr-3">
							{{ item.product.name }}
						</h2>
					</div>
				</div>
				<div class="flex justify-between p-2">
					<div class="flex flex-col p-4">
						<span class="text-gray-600 md:mx-2">Price:</span>
						<span class="text-gray-600 font-medium md:mx-2"
							>&#8377;{{ item.product.price|floatformat:2 }}</span
						>
					</div>

					<!-- Quantity -->
					<div class="flex flex-col p-4">
						<span class="text-gray-600 md:mx-2">Quantity:</span>
						<span class="text-gray-600 font-medium md:mx-2"
							>x{{ item.quantity }}</span
						>
					</div>

					<!-- Total Price -->
					<div class="flex flex-col p-4">
						<span class="text-gray-600 md:mx-2">Total:</span>
						<span class="text-gray-600 font-semibold md:mx-2"
							>&#8377;{{ item.get_total }}</span
						>
					</div>
				</div>
			</div>
			{% endfor %}

			<!-- Cart Total -->
			<div class="bg-gray-100 pt-4 rounded-lg">
				<h2 class="text-lg font-medium">Items: {{order.get_cart_items}}</h2>
				<h3 class="text-xl font-medium">
					Grand Total: &#8377;{{order.get_cart_total|floatformat:2}}
				</h3>
				<!-- Place your cart total information here -->
			</div>
		</div>

		<!-- Div1 (Checkout Form) --------------------------------------------------------------------------->
		<div class="flex-col md:w-1/2 md:order-1">
			<div
				id="form-wrapper"
				class="p-4 bg-gray-100 rounded-md m-2 mt-3 md:mt-2 shadow-md"
			>
				<!-- Checkout Form -->
				<!-- Text: Shipping Information -->

				<form id="form">
                    {% csrf_token %}
					<div id="user-info">
						<p class="text-lg font-semibold mb-1">User Details</p>
						<!-- First Name and Last Name -->
						<div class="md:flex md:space-x-4">
							<div class="md:w-1/2">
								<label
									for="first-name"
									class="block text-gray-700 text-sm font-bold mb-2"
								></label>
								<input
									type="text"
									name="fname"
									id="first-name"
									class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									placeholder="First Name"
								/>
							</div>
							<div class="md:w-1/2">
								<label
									for="last-name"
									class="block text-gray-700 text-sm font-bold mb-2"
								></label>
								<input
									type="text"
									name="lname"
									id="last-name"
									class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									placeholder="Last Name"
								/>
							</div>
						</div>

						<!-- Email -->
						<div class="mb-4">
							<label
								for="email"
								class="block text-gray-700 text-sm font-bold mb-2"
							></label>
							<input
								type="email"
								id="email"
								name="email"
								class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
								placeholder="Email"
							/>
						</div>
						<!-- Horizontal Rule -->
						<hr class="my-4 border-t border-gray-300" />
					</div>

					<!-- Text: Shipping Information -->
					<div id="shipping-info">
						<p class="text-lg font-semibold mb-4">Shipping Information</p>

						<!-- Address -->
						<div>
							<label
								for="address"
								class="block text-gray-700 text-sm font-bold mb-2"
							></label>
							<input
								type="text"
								name="address"
								id="address"
								class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
								placeholder="Address"
							/>
						</div>

						<!-- City, State, Pin Code, and Phone Number -->
						<div class="md:flex md:space-x-4">
							<div class="md:w-1/2">
								<label
									class="block text-gray-700 text-sm font-bold mb-2"
									for="city"
								></label>
								<input
									class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									name="city"
									id="city"
									type="text"
									placeholder="City"
								/>
							</div>
							<div class="md:w-1/2 mt-4 md:mt-0">
								<label
									class="block text-gray-700 text-sm font-bold mb-2"
									for="state"
								></label>
								<input
									class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									name="state"
									id="state"
									type="text"
									placeholder="State"
								/>
							</div>
						</div>
						<div class="mb-4 md:flex md:space-x-4">
							<div class="md:w-1/2">
								<label
									class="block text-gray-700 text-sm font-bold mb-2"
									for="pin-code"
								></label>
								<input
									class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									name="pincode"
									id="pin-code"
									type="text"
									placeholder="Pin Code"
								/>
							</div>
							<div class="md:w-1/2 mt-4 md:mt-0">
								<label
									class="block text-gray-700 text-sm font-bold mb-2"
									for="ph-number"
								></label>
								<input
									class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
									name="contact"
									id="ph-number"
									type="text"
									placeholder="+91 XXXXX XXXXX"
								/>
							</div>
						</div>
					</div>
					<!-- Submit Button -->
					<div id="form-button" class="mt-6">
						<button
							type="submit"
							class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded-lg w-full"
						>
							Continue
						</button>
					</div>
				</form>
				<br />
			</div>
			<div
				id="payment-info"
				class="p-4 hidden bg-gray-100 rounded-md m-2 mt-3 md:mt-2 space-x-3 shadow-md"
			>
				<small>Payment Gateway</small>
				<br />
				<button
					id="make-payment"
					class="bg-green-500 text-white font-semibold px-3 py-2 rounded-lg hover:bg-green-700"
				>
					Make Payment
				</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var shipping = "{{ order.shipping }}";

	var total = "{{ order.get_cart_total}}";

	if (shipping == "False") {
		document.getElementById("shipping-info").innerHTML = "";
	}

	if (user != "AnonymousUser") {
		document.getElementById("user-info").innerHTML = "";
	}

	if (shipping == "False" && user != "AnonymousUser") {
		document.getElementById("form-wrapper").classList.add("hidden");
		document.getElementById("payment-info").classList.remove("hidden");
	}

	var form = document.getElementById("form");

    csrftoken = form.getElementsByTagName('input')[0].value
    //console.log('Newtoken:', form.getElementsByTagName('input')[0].value)

	form.addEventListener("submit", function (e) {
		e.preventDefault();
		console.log("Form Submitted");
		document.getElementById("form-button").classList.add("hidden");
		document.getElementById("payment-info").classList.remove("hidden");
	});

	document
		.getElementById("make-payment")
		.addEventListener("click", function (e) {
			submitFormData();
		});

	function submitFormData() {
		console.log("Payment button clicked");

		var userFormData = {
			fname: null,
			lname: null,
			email: null,
			total: total,
		};

		var shippingInfo = {
            address: form.address.value,
            city: form.city.value,
            state: form.state.value,
            pincode: form.pincode.value,
            contact: form.contact.value
        };
        
		if (user == "AnonymousUser") {
			userFormData.fname = form.fname.value;
			userFormData.lname = form.lname.value;
			userFormData.email = form.email.value;
		}

		if (shipping != "False") {
			userFormData.address = form.address.value;
			userFormData.city = form.city.value;
			userFormData.state = form.state.value;
			userFormData.pincode = form.pincode.value;
			userFormData.contact = form.contact.value;
		}

		console.log("Shipping Info:", shippingInfo);
		console.log("User Info:", userFormData);

		var url = "/process-order/";
		fetch(url, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
				"X-CSRFToken": csrftoken,
			},
			body: JSON.stringify({ form: userFormData, shipping: shippingInfo }),
		})
			.then((response) => response.json())
			.then((data) => {
				console.log("Success:", data);
				alert("Transaction completed");

                cart= {}
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
				window.location.href = "{% url 'store' %}";
			});
	}
</script>
{% endblock %}
