{% extends 'base.html' %} {% load static %}
<!-- content starts here -->
{% block content %}

<div class="container mx-auto">
	<div class="p-2 grid grid-cols-2 md:grid-cols-4 gap-4">
		{% for product in product %}
		<!-- Product starts here -->
		<div class="bg-white rounded-lg shadow-md">
			<!-- Product image -->
			<img
				src="{{ product.imageURL }}"
				alt="{{ product.name }}"
				class="min-w-full mb-2 rounded-md"
			/>
			<!-- Product name -->
			<h2 class="text-lg font-medium p-4 pt-2">{{ product.name }}</h2>
			<!-- Product (price) - (wishlist) - (add to cart button) -->
			<div class="flex justify-between items-baseline p-4 pt-0">
				<p class="text-gray-600">&#8377;{{ product.price|floatformat:2 }}</p>
				<div class="buttons flex">
					<ion-icon
						class="text-2xl px-4 text-red-500 mt-2"
						name="heart-outline"
					></ion-icon>
					<button
						data-product="{{product.id}}"
						data-action="add"
						class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 cursor-pointer update-cart"
					>
						Add to Cart
					</button>
				</div>
			</div>
		</div>
		{% endfor %}
		<!-- product ends here -->
		<!-- Repeat the above product card structure for the next 3 products -->
	</div>

	<!-- Main Carousel with controls inside -->
	<div class="relative w-full glide-01 pt-24">
		<!-- Slides -->
		<div class="overflow-hidden" data-glide-el="track">
			<ul
				class="relative w-full overflow-hidden p-0 whitespace-no-wrap flex flex-no-wrap [backface-visibility: hidden] [transform-style: preserve-3d] [touch-action: pan-Y] [will-change: transform]"
			>
				<li>
					<img
						src="{% static '/img/poster_carousel/attack-on-titan.png' %}"
						class="w-full max-w-full max-h-full m-auto"
					/>
				</li>
				<li>
					<img
						src="{% static '/img/poster_carousel/naruto.png' %}"
						class="w-full max-w-full max-h-full m-auto"
					/>
				</li>
				<li>
					<img
						src="{% static '/img/poster_carousel/death-note.png' %}"
						class="w-full max-w-full max-h-full m-auto"
					/>
				</li>
				<li>
					<img
						src="{% static '/img/poster_carousel/one-punch-man.png' %}"
						class="w-full max-w-full max-h-full m-auto"
					/>
				</li>
				<li>
					<img
						src="{% static '/img/poster_carousel/my-hero-academia.png' %}"
						class="w-full max-w-full max-h-full m-auto"
					/>
				</li>
				<li>
					<img
						src="{% static '/img/poster_carousel/one-peice.png' %}"
						class="w-full max-w-full max-h-full m-auto"
					/>
				</li>
				<li>
					<img
						src="{% static '/img/poster_carousel/black-clover.png' %}"
						class="w-full max-w-full max-h-full m-auto"
					/>
				</li>
				<li>
					<img
						src="{% static '/img/poster_carousel/demon-slayer.png' %}"
						class="w-full max-w-full max-h-full m-auto"
					/>
				</li>
				<li>
					<img
						src="{% static '/img/poster_carousel/solo-leveling.png' %}"
						class="w-full max-w-full max-h-full m-auto"
					/>
				</li>
				<li>
					<img
						src="{% static '/img/poster_carousel/jujutsu-kaisen.png' %}"
						class="w-full max-w-full max-h-full m-auto"
					/>
				</li>
			</ul>
		</div>
		<!-- Controls -->
		<div
			class="absolute left-0 flex items-center justify-between w-full h-0 px-4 top-1/2"
			data-glide-el="controls"
		>
			<button
				class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 border-slate-700 hover:text-slate-900 hover:border-slate-900 focus-visible:outline-none bg-white/20"
				data-glide-dir="<"
				aria-label="prev slide"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-5 h-5"
				>
					<title>prev slide</title>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"
					/>
				</svg>
			</button>
			<button
				class="inline-flex items-center justify-center w-8 h-8 transition duration-300 border rounded-full lg:w-12 lg:h-12 text-slate-700 border-slate-700 hover:text-slate-900 hover:border-slate-900 focus-visible:outline-none bg-white/20"
				data-glide-dir=">"
				aria-label="next slide"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					class="w-5 h-5"
				>
					<title>next slide</title>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
					/>
				</svg>
			</button>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.0.2/glide.js"></script>

	<script>
		var glide01 = new Glide(".glide-01", {
			type: "carousel",
			focusAt: "center",
			perView: 3,
			autoplay: 3000,
			animationDuration: 700,
			gap: 24,
			classes: {
				activeNav: "[&>*]:bg-slate-700",
			},
			breakpoints: {
				1024: {
					perView: 2,
				},
				640: {
					perView: 1,
				},
			},
		});

		glide01.mount();
	</script>
	<!-- End Carousel with controls inside -->

	<!-- start of the collections section -->
	<section>
		<div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
			<header class="text-center">
				<h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
					Browse Categories
				</h2>

				<p class="max-w-2xl mx-auto mt-4 text-gray-500">
					Explore the ultimate anime merchandise collection featuring your
					favorite characters and shows. From stylish apparel to exclusive
					accessories, elevate your fandom with the best in anime gear.
				</p>
			</header>

			<ul class="grid grid-cols-1 gap-4 mt-8 lg:grid-cols-3">
				<li>
					<a href="#" class="relative block group">
						<img
							src="{% static '/products/levi-ackermann-figurine.png' %}"
							alt=""
							class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90"
						/>

						<div
							class="absolute inset-0 flex flex-col items-start justify-end p-6"
						>
							<h3 class="text-xl font-medium text-white">Action Figures</h3>

							<span
								class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
							>
								Shop Now
							</span>
						</div>
					</a>
				</li>

				<li>
					<a href="#" class="relative block group">
						<img
							src="{% static '/products/aot-survey-corps-iphone-case.png' %}"
							alt=""
							class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90"
						/>

						<div
							class="absolute inset-0 flex flex-col items-start justify-end p-6"
						>
							<h3 class="text-xl font-medium text-white">Phone Cases</h3>

							<span
								class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
							>
								Shop Now
							</span>
						</div>
					</a>
				</li>

				<li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
					<a href="#" class="relative block group">
						<img
							src="{% static '/products/shoto-todoroki-tshirt.png' %}"
							alt=""
							class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90"
						/>

						<div
							class="absolute inset-0 flex flex-col items-start justify-end p-6"
						>
							<h3 class="text-xl font-medium text-white">Tees</h3>

							<span
								class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
							>
								Shop Now
							</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<!-- end of the collections section -->

	<!-- Logo Carousel animation -->
	<section
		x-data="{}"
		x-init="$nextTick(() => {
        let ul = $refs.logos;
        ul.insertAdjacentHTML('afterend', ul.outerHTML);
        ul.nextSibling.setAttribute('aria-hidden', 'true');
    })"
		class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]"
	>
		<ul
			x-ref="logos"
			class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll"
		>
			<li>
				<img
					src="{% static '/img/logo_carousel/attack-on-titan.png' %}"
					class="w-auto h-28 max-w-full max-h-full m-auto"
				/>
			</li>
			<li>
				<img
					src="{% static '/img/logo_carousel/black-clover.png' %}"
					class="w-auto h-32 max-w-full max-h-full m-auto"
				/>
			</li>
			<li>
				<img
					src="{% static '/img/logo_carousel/death-note.png' %}"
					class="w-auto h-32 max-w-full max-h-full m-auto"
				/>
			</li>
			<li>
				<img
					src="{% static '/img/logo_carousel/my-hero-academia.png' %}"
					class="w-auto h-24 max-w-full max-h-full m-auto"
				/>
			</li>
			<li>
				<img
					src="{% static '/img/logo_carousel/naruto.png' %}"
					class="w-auto h-24 max-w-full max-h-full m-auto"
				/>
			</li>
			<li>
				<img
					src="{% static '/img/logo_carousel/one-piece.png' %}"
					class="w-auto h-24 max-w-full max-h-full m-auto"
				/>
			</li>
			<li>
				<img
					src="{% static '/img/logo_carousel/one-punch-man.png' %}"
					class="w-auto h-28 max-w-full max-h-full m-auto"
				/>
			</li>
		</ul>
	</section>
	<!-- End: Logo Carousel animation -->

	<!--product cards section starts -->
	<section
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4"
	>
		<!-- Your product cards go here -->
		{% for product in products%}
		<div
			class="mx-auto sm:m-3 flex items-center justify-center flex-col overflow-hidden"
		>
			<!-- Card content -->
			<div
				class="relative m-3 flex w-full max-w-xs flex-col overflow-hidden rounded-md border border-gray-100 bg-gray-100 shadow-m"
			>
				<div
					class="relative mx-3 mt-3 flex h-60 rounded-xl aspect-w-1 aspect-h-1 overflow-hidden-x"
				>
					<img
						class="object-cover rounded-lg"
						src="{{ product.imageURL }}"
						alt="product image"
					/>
					<span
						class="absolute top-0 left-0 m-2 rounded-full bg-black px-2 text-center text-sm font-medium text-white"
						>39% OFF</span
					>
					<!-- add-to-wishlist button -->
					<span
						class="absolute top-0 right-1 m- rounded-full text-center text-sm font-medium text-white"
					>
						<a class="update-wishlist" data-product="{{product.id}}">
							<i
								class="fa-regular fa-heart text-2xl p-1 text-red-500 hover:text-pink-600 transition duration-150"
							></i>
						</a>
					</span>
				</div>
				<div class="mt-4 px-5 pb-5">
					<a href="{% url 'products' product.id %}">
						<h5 class="text-[18px] tracking-tight text-slate-900">
							{{ product.name }}                
						</h5>
					</a>
					<div class="mt-2 mb-5 flex items-center justify-between">
						<div>
							<span class="text-2xl font-bold text-slate-900"
								>&#8377;{{ product.price|floatformat:0 }}</span
							>
							<span class="text-sm text-slate-900 line-through">$699</span>
						</div>
						<div class="flex items-center">
							<svg
								aria-hidden="true"
								class="h-5 w-5 text-yellow-300"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								class="h-5 w-5 text-yellow-300"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								class="h-5 w-5 text-yellow-300"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								class="h-5 w-5 text-yellow-300"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<svg
								aria-hidden="true"
								class="h-5 w-5 text-yellow-300"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
								></path>
							</svg>
							<span
								class="mr-2 ml-2 rounded bg-yellow-200 px-1.5 py-0.5 text-xs font-semibold"
								>5.0</span
							>
						</div>
					</div>
					<!-- add-to-cart button -->
					<div>
						<a
							data-product="{{product.id}}"
							data-action="add"
							class="update-cart flex items-center justify-center rounded-md bg-slate-800 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-slate-900"
							>Add to cart</a
						>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
</div>

{% endblock %}
